<a href="https://colab.research.google.com/github/Dimonfordont/DS_course/blob/main/Basics/Python/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Питон основы

Питон - язык, весьма похожий на псевдокод и писать на нем - одно удовольствие.

## Начнем с определения переменных

In [ ]:
var = 1
my_var = 1

Согласно стандартам написания кода (Python Enhancement Proposal - PEP), переменные должны быть дескриптивны (описывать что они в себе несут). Код читают чаще чем пишут, следовательно он должен быть понятен.

Так же существует другие правила написания кода (подробнее  [PEP8](https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html))

In [ ]:
a = 1            # not ok (что значит "а"?)
animals = 1      # ok
zoo_animals = 2  # ok
ZooAnimals = 3   # not ok (для классов)
ZOO_ANIMALS = 4  # not ok (для глобальных переменных)

Определим переменные zoo, monkeys, foxes

In [ ]:
zoo =         # пусть будет 1
monkeys       # пусть будет 2
              # пусть будет 3

### Прежде чем идти дальше вы выучим одну важну функцию - print что позволит нам выводить результат на экран

Вызываем мы ее с помощью слова print() и скобочек, поместив внутрь то что хотим видеть в выводе

In [ ]:
print(1)
print('привет')
print(animals)
print(100, 'привет', zoo_animals, '你好')

1
привет
1
100 привет 2 你好

## Типы данных

Пайтон - язык с динамической типизацией и специально задавать что за тип данных в переменной нет необходимости, но при этом существую разные типы данных и ведут они себя тоже по-разному.

### Bool

Булевые переменные принимают значение Да\нет, а точнее 0\1 или True\False

Часто можно использовать как флаг-индикатор чего либо

In [ ]:
is_active = True

Отрицание **not** меняет булевое значение на противоположное

In [ ]:
print(is_active)
print(not is_active)

True
False

### Мы уже познакомились с **целочисленным** типом данных **int**

Int - неизменяемый тип данных, это значит что когда мы совершаем над ним какую-то операцию и перезаписываем переменную, где-то в глубине оперативной памяти меняется ссылка на другое число (раньше переменная Х указывала на 1, а теперь на 2)

In [ ]:
animals = 1
print(id(animals))  #id указывает на адрес в памяти

136814706049264

Переопределим переменную

In [ ]:
animals = 2
id(animals)  #id указывает на адрес в памяти

136814706049296

Переопределим переменную еще раз на ту, что была в самом начале

In [ ]:
animals = 1
id(animals)  #id указывает на адрес в памяти

136814706049264

Как видим, при переопределении переменных меняются ссылки на адрес в памяти.

#### Мы можем выполнять различные операции с этим типом данных.
Сложение

In [ ]:
monkeys = 1
monkeys = monkeys + 1        # теперь monkeys = 2
monkeys = monkeys + monkeys  # 2+2=4
monkeys += 10                # 4+10
monkeys

14

Вычитание

In [ ]:
items_in_bag = 14
boxes = 5
coins = 5

items_in_bag = items_in_bag - coins  # то же самое что сделать items_in_bag -= coins
 #мы переопределили переменную и теперь items in bag = 9  (14-5)

 #мы можем создавать переменные используя другие, они от этого не меняются
items_lost = items_in_bag - boxes

items_lost # 9 - 5

4

Умножение и деление

 "*" уможение

/ - деление

// - целочисленное деление с округлением вниз

In [ ]:
beauty = 2
luck = 3

fame = beauty * luck  # 2 * 3
cringe = fame // 2 # делим на 2

3

Степень

In [ ]:
x = 5
x**3 #x в степени 3

125

In [ ]:
x**=4   # 125
x**0.5 # корень

25.0

Порядок операций осуществляется как в математике, включая скобки

In [ ]:
seven = 1 + 2 * 3     # 7
nine = (1 + 2) * 3    # 9

% - остаток от деления

In [ ]:
10 % 3 # три входит в десятку три раза и у нас остается еще единица

1

Мы можем сравнивать разные числа с помощью равно "==" и не равно "!="

In [ ]:
price_car_1 = 2000
price_car_2 = 3000
price_car_3 = 2000

result = price_car_1 == price_car_2 # проверяем равны ли цены двух машин
result

False

In [ ]:
result = price_car_2 != price_car_3 # проверяем НЕ равны ли цены двух машин
result

True

При этом равенство не значит что это один и тот же объект

In [ ]:
price_car_1 == price_car_3

True

In [ ]:
id(price_car_1) == id(price_car_3)

False

In [ ]:
price_car_1 is price_car_3   # is - проверяет один и тот же ли это объект

False

Сравнение

In [ ]:
price_car_1 > price_car_2   # знак больше

In [ ]:
price_car_1 <= price_car_3  # меньше или равно

Перевод в тип данных int делаем с помощью int()

In [ ]:
print(int('1234'))
print(int(1234.5))

1234
1234

### Задания

Задание 1:
Определить переменную mean равную 5 и переменную datapoint равную 7

In [ ]:
mean =
datapoint


Задание 2:
Определить переменную diff и в ней вычесть mean из datapoint

In [ ]:
diff

Задание 3:
Определить переменную squared_diff возведя diff в квадрат

## Float

Число с плавающей точкой. тоже неизменяемый тип данных

In [ ]:
temperature = 36.6

Операции все те же

In [ ]:
temperature = 36.6 * 2          # будет float
temperature =  temperature + 3  # будет float
temperature -= 30.5             # будет float


temperature = 36.6 / 1.1        # мы использовали / так что float
temperature = 60 / 2            # мы использовали / так что float

temperature = 36.6 // 5         # а вот тут будет int ибо // делит с округлением

Перевод в тип данных float делаем с помощью float()

In [ ]:
print(float('1234'))
print(float(123))

1234.0
123.0

### Задания

Задание 1:
Определить переменную variance в которой поделить squared_diff на 1


Задание 2:
Переопределить переменную squared_diff и сделать ее равной числу с плавающей точкой 30. Затем переопределить переменную variance в которой поделить squared_diff на 10


Задание 3:
Определить переменную standard_deviation в которой взять корень из variance

## String

Это символ, пробел, буква, слово, предложение или история или цифра представленная как текст.
Для обозначения используются либо одинарные либо двойные кавычки

In [ ]:
letter = 'a'
word = "banana"
sentence = "I want a banana"
string_digit = '5'
text = "I had 5 apples. I ate all of them."

Операции с стринг ограничены, но у них есть методы

In [ ]:
letter + letter

'aa'

In [ ]:
word + ' apple' * 5

'banana apple apple apple apple apple'

In [ ]:
(word + ' apple') * 5

'banana applebanana applebanana applebanana applebanana apple'

В тексте мы разбиваем слова пробелами а строки с помощью '\n'

In [ ]:
my_text = "-Hi!\n-Hi how are you?\n-I'm great, thanks"
print(my_text) #обратите внимание что одинарную кавычку получилось использовать лишь потому что весь текст в двойных

-Hi!
-Hi how are you?
-I'm great, thanks

Особые методы для работы со строками

In [ ]:
lowered = my_text.lower()   # это пригодится при чистке данных
print(lowered)

-hi!
-hi how are you?
-i'm great, thanks

In [ ]:
my_text.split()     # Тут мы разбиваем текст в список. О списках позже

['-Hi!', '-Hi', 'how', 'are', 'you?', "-I'm", 'great,', 'thanks']

In [ ]:
new_text = my_text.replace('Hi', 'Hello') #позволяет заменить символ или целое слово
print(new_text)

-Hello!
-Hello how are you?
-I'm great, thanks

In [ ]:
spaces = '        hi!      '
nospaces = spaces.strip()   #убирает пробелы по бокам. есть вариант rstrip и lstrip
print(spaces)
print(nospaces)

        hi!
hi!

У строк есть метод показывающий длинну len()

In [ ]:
print(text)
print(len(text))
print(f"В тексте '{text}' {len(text)} символов")

Привет, я учу науку о данных
28
В тексте 'Привет, я учу науку о данных' 28 символов

У строк есть индекс, начинающиеся с нуля и мы можем делать над ними операции (это называется слайсинг)

In [ ]:
text = "Привет, я учу науку о данных"
print('вывод первого элементa:', text[0])
print('вывод шестого элемента:', text[5])
print('вывод от первого до шестого элемента, не включая шестой:', text[:5])
print('вывод от шестого элемента до конца:', text[5:])
print('вывод от шестого элемента до 10 не включая 10:', text[5:10])
print('вывод каждого второго элемента от шестого элемента до 20 (не включая):', text[5:20:2])

# Экстра
print('вывод последнего элемента:', text[-1])
print('вывод от пятого элемента с конца до конца:', text[-5:])

вывод первого элементa: П
вывод шестого элемента: т
вывод от первого до шестого элемента, не включая шестой: Приве
вывод от шестого элемента до конца: т, я учу науку о данных
вывод от шестого элемента до 10 не включая 10: т, я
вывод каждого второго элемента от шестого элемента до 20 (не включая): т  ч ак
вывод последнего элемента: х
вывод от пятого элемента с конца до конца: анных

Когда нам нано вывести переменную и мы не хотим писать в принте все через запятую, поэтому мы используем f-стринги: f"текст {переменная} еще текст и т.д."

In [ ]:
age = 25
print('Привет, меня зовут Билли, мне', age, 'но завтра будет', age + 1) # фуфуфу
print(f'Привет, меня зовут Билли, мне {age} но завтра будет {age+1}')   # ok

Привет, меня зовут Билли, мне 25 но завтра будет 26
Привет, меня зовут Билли, мне 25 но завтра будет 26

Перевод в тип данных string делаем с помощью str()

In [ ]:
str(1234.32)

'1234.32'

### Задания

Задание 1:
Определить пременную hello с 5 пробелами по обе стороны, в строке написать "Привет, Дивный Новый Мир"

Задание 2: Используя методы строк убрать пробелы по обе стороны и перевести строку в нижний кейс

Задание 3: заменить все пробелы на "_" и вывести последние 10 элементов с помощью слайсинга

## tuple

Кортежи - это неизменяемый тип данных, который позволяет хранить другие данные внутри. Мы не можем добавить или убрать из кортежа данные после создания, елси мы это сделаем создается другой кортеж.

Кортежи упорядочены, у них есть индексы.

Кортежи опредялются либо скобками, либо tuple()

In [ ]:
my_example_1 = (1,2,3,4)
my_example_2 = (1,)   #кортеж в скобка из одного элемента создается с запятой
my_example_3 = (1)    #иначе получится просто число

print(my_example_1, my_example_2, my_example_3)

(1, 2, 3, 4) (1,) 1

Кортежи можно "разархивировать"

In [ ]:
num_1, num_2, num_3, num_4 = my_example_1

print(num_1, num_2, num_3, num_4)

1 2 3 4

Умножать на целые числа и складывать с другими кортежами

In [ ]:
print(my_example_1 + my_example_2)
print(my_example_1 * 3)

(1, 2, 3, 4, 1)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

Элементы внутри кортежа можно складывать с помощь метода sum()

In [ ]:
sum(my_example_1)

10

Мы можем создать кортеж кортежей и это уже становится похожим на матрицу

In [ ]:
tup_of_tup = ((1, 0, 0), (0, 1, 0), (0, 0, 1))
print(tup_of_tup)

((1, 0, 0), (0, 1, 0), (0, 0, 1))

Это может выглядить вот так. (Пока учить это не надо)

In [ ]:
for y in tup_of_tup:
  for x in y:
    print(x, end=' ')
  print()

1 0 0
0 1 0
0 0 1

Вызывать элементы в кортеже можно также как мы это делали со строками

In [ ]:
print(tup_of_tup[0])      # первый элемент из кортежа (он же сам кортеж)
print(tup_of_tup[:2])     # 2 и 3 элементы
print(tup_of_tup[0][1])   # вложенный второй элемент первого элемента
print(tup_of_tup[0][:2])  # второй и третий вложенные элементы первого элемента

(1, 0, 0)
((1, 0, 0), (0, 1, 0))
0
(1, 0)

Перевод в тип данных tuple делаем с помощью tuple()

In [ ]:
tuple('привет, как дела?')

('п',
 'р',
 'и',
 'в',
 'е',
 'т',
 ',',
 ' ',
 'к',
 'а',
 'к',
 ' ',
 'д',
 'е',
 'л',
 'а',
 '?')

In [ ]:
tuple((1,2,3))

(1, 2, 3)

Проверка на вхождение **in**

In [ ]:
my_tup = (1, 2.0, 'три', (111, 22), 56)
print(1.32 in my_tup)
print(int(1.32) in my_tup)

False
True

### Задания

Задание 1: Определить переменную num_1 равную 33, переменную num_2 равную 3.33 и переменную not_num_at_all равную "тридцать три". Создать кортеж im_tuple с этими переменными

Задание 2: Pазархивировать этот кортеж в переменные var_1, var_2, var_3

Задание 3: Создать матрицу 3х3 из кортежей где справа все единицы, слева нули, а по центру сверху вниз 1, 2, 3

Задание 4: Определить переменную my_var и вложить в нее второй элемент третьего элемента предыдущего кортежа

## list

Списки, в отличии от коржетей - изменяемый типа данный, это значит что из них можно удалить элемент, добавить, расширить их с помощью другого элемента и т.д.

Списки упорядочены. У них есть индексы.

Определяются скобочками или list

In [ ]:
nums = [1, 2, 3, 4]
list_of_tups = list(tup_of_tup)   # обращаем внимание что внутри все еще остаются кортежи

print(nums)
print(list_of_tups)

[1, 2, 3, 4]
[(1, 0, 0), (0, 1, 0), (0, 0, 1)]

Операции

In [ ]:
new_list = [1,2, 3, 4, 5, 6]
print(new_list)

new_list = new_list + [33, 22, 11]
print(new_list)

another_list = [999, 111, 555]
new_list += another_list
print(new_list)

print(new_list * 2)   # а вот тут мы не переопределяем список, так что он не меняется
print(new_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 33, 22, 11]
[1, 2, 3, 4, 5, 6, 33, 22, 11, 999, 111, 555]
[1, 2, 3, 4, 5, 6, 33, 22, 11, 999, 111, 555, 1, 2, 3, 4, 5, 6, 33, 22, 11, 999, 111, 555]
[1, 2, 3, 4, 5, 6, 33, 22, 11, 999, 111, 555]

Слайсинг

In [ ]:
print(new_list[2])
print(new_list[2:10])
print(new_list[::2]) # каждый второй элемент
print(new_list[::-1]) # Мы развернули список!

3
[3, 4, 5, 6, 33, 22, 11, 999]
[1, 3, 5, 33, 11, 111]
[555, 111, 999, 11, 22, 33, 6, 5, 4, 3, 2, 1]

Методы

In [ ]:
print('сумма:', sum(new_list))
print('развернем:', list(reversed(new_list)))
print('отсортируем:', sorted(new_list))
print('узнаем длину списка:', len(new_list))
print('среднее значение элементов в списке:', sum(new_list) / len(new_list))

сумма: 1752
развернем: [555, 111, 999, 11, 22, 33, 6, 5, 4, 3, 2, 1]
отсортируем: [1, 2, 3, 4, 5, 6, 11, 22, 33, 111, 555, 999]
узнаем длину списка: 12
среднее значение элементов в списке: 146.0

Еще методы

In [ ]:
house_rent = [200, 330]
print(house_rent)

house_rent.append(300) #добавим в конец списка
print(house_rent)

house_rent.insert(1, 'ой, а я не цена!') # добавим на н индекс (в этом случае 1 - второй элемент) значение
print(house_rent)

del house_rent[3] # удалим индекс что на не нужен
print(house_rent)

house_rent.extend([340, 350, 340]) #расширим список другим списком
print(house_rent)

count_340 = house_rent.count(340) #сколько у нас элементов равных 340
print(count_340, 'элемента равно 340')

idx_340 = house_rent.index(340) # индекс первого слева элемента равного 340
print(idx_340, 'индекс первого слева элемента 340')

house_rent.remove(340)  # удалим первый попавшися элемент что равен заданному
print(house_rent)

element = house_rent.pop()  # удалим и вернем последний элемент
print(f'{house_rent}, убрали последний элемент: {element}')

element = house_rent.pop(1)  # удалим и вернем второй элемент
print(f'{house_rent}, убрали второй элемент: {element}')

house_rent.clear() #oчистим список
print(house_rent)

[200, 330]
[200, 330, 300]
[200, 'ой, а я не цена!', 330, 300]
[200, 'ой, а я не цена!', 330]
[200, 'ой, а я не цена!', 330, 340, 350, 340]
2 элемента равно 340
3 индекс первого слева элемента 340
[200, 'ой, а я не цена!', 330, 350, 340]
[200, 'ой, а я не цена!', 330, 350], убрали последний элемент: 340
[200, 330, 350], убрали второй элемент: ой, а я не цена!
[]

Мы можем копировать типы данных используя .copy()

In [ ]:
my_list_1 = [1, 2, 3, 4]
my_list_2 = my_list_1
print(f'Это на самом деле один и тот же список:\n\tmy_list_1: {my_list_1}\n\tmy_list_2: {my_list_2}')

my_list_2[1] = 11
print(f'\nOбращаем внимание что изменились оба списка: \n\tmy_list_1: {my_list_1}\n\tmy_list_2: {my_list_2}')

my_list_3 = my_list_2.copy()    #альтернативно можно скопировать с my_list_2[:]
my_list_1[1] = 999
my_list_3[3] = 'Внезапно строка'
print(f'\nOбращаем внимание какие именно списки изменились:\n\tmy_list_1: {my_list_1}\n\tmy_list_2: {my_list_2}\n\tmy_list_3: {my_list_3}')


#Но стоит быть осторожным со списком списков
list_of_lists = [my_list_1, my_list_3]
print('\nСписок списков:\n\t', list_of_lists)

my_list_1[2] = 'ЙА НОВАЙА ЗАПИСЬ'
print('\nМы изменили список в списке:\n\t', list_of_lists)

list_of_lists_new = list_of_lists[:]    # второй способ копировать
del my_list_1[2]
print('\nМы скопировали список, но изменили список в первом списке:\n\t', list_of_lists_new)

Это на самом деле один и тот же список:
	my_list_1: [1, 2, 3, 4]
	my_list_2: [1, 2, 3, 4]

Oбращаем внимание что изменились оба списка:
	my_list_1: [1, 11, 3, 4]
	my_list_2: [1, 11, 3, 4]

Oбращаем внимание какие именно списки изменились:
	my_list_1: [1, 999, 3, 4]
	my_list_2: [1, 999, 3, 4]
	my_list_3: [1, 11, 3, 'Внезапно строка']

Список списков:
	 [[1, 999, 3, 4], [1, 11, 3, 'Внезапно строка']]

Мы изменили список в списке:
	 [[1, 999, 'ЙА НОВАЙА ЗАПИСЬ', 4], [1, 11, 3, 'Внезапно строка']]

Мы скопировали список, но изменили список в первом списке:
	 [[1, 999, 4], [1, 11, 3, 'Внезапно строка']]

Перевод в тип данных list делаем с помощью list()

In [ ]:
list(tup_of_tup)

[(1, 0, 0), (0, 1, 0), (0, 0, 1)]

### Задания

Задание 1:
1. Cоздать список с элементами 200 и 330
2. Добавить в конец списка 280
3. Добавить в начало списка 400
4. Расширить список списком [350, 320, 310]
5. Добавить строку "а я вот тоже не цена" третьим элементом в списке

In [ ]:
house_rent =

Задание 2:

1. Удалить элемент списка под индексом 2
2. Найти и вывести первое встреченное число 320
3. Удалить первый встречный элемент равный 320
4. Создать копию списка
4. Очистить первый список

Задание 3:

1. Объединить созданную копию со списком monthly_expenses
2. Вывести сумму элементов получившегося списка
3. Найти среднее значение этого списка
4. Создать новый список с элементами от второго по шестой (включительно) предыдущего списка и добавить к нему подсчитанное среднее значение

In [ ]:
monthly_expenses = [250, 200, 400, 200, 370]

## dict

Словарь - неупорядоченный тип данных, подобно коробке, которая отдает ответ если назовешь пароль.

Ключ: значение

Задается фигурными скобками

In [ ]:
bag = {}

Внутри словаря очень похоже на задание переменных но без знака равно.

In [ ]:
bag = {
    'pencils': 3,
    'markers': 'не рисую',
    'knife': ['охотничий', 'танто', 'мутанто', 'разве ж это нож!?'],
    'machine_gun': None,
    'pink pony': 3,
}

Мы не можем достать элементы по индексы но можем по ключам будто они индексы. Ключи - это то что в паре слева, они уникальны и два одинаковых ключа быть не может.

In [ ]:
print(bag['pink pony'])
bag['pink pony'] += 10
print(bag['pink pony'])

3
13

Новые элементы можно задавать с помощью квадратных скобок

In [ ]:
bag['pink poopoo'] = bag['pink pony'] * 100.0
print(bag)

{'pencils': 3, 'markers': 'не рисую', 'knife': ['охотничий', 'танто', 'мутанто', 'разве ж это нож!?'], 'machine_gun': None, 'pink pony': 13, 'pink poopoo': 1300.0}

удаляем

In [ ]:
del bag['knife']
bag

{'pencils': 3,
 'markers': 'не рисую',
 'machine_gun': None,
 'pink pony': 13,
 'pink poopoo': 1300.0}

На самом деле примерна эта логика и реализована в датафреймах пандас

Ключи и значения можно достать следующими методами

In [ ]:
print(bag.keys())   # ключи
print(bag.values()) # знаения
print(bag.items())  #пары ключи-значния

dict_keys(['pencils', 'markers', 'machine_gun', 'pink pony', 'pink poopoo'])
dict_values([3, 'не рисую', None, 13, 1300.0])
dict_items([('pencils', 3), ('markers', 'не рисую'), ('machine_gun', None), ('pink pony', 13), ('pink poopoo', 1300.0)])

Объединять словари можно с помощью .update()

In [ ]:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 30, 'd': 30, 'e': 40}
dict1.update(dict2)
print(f"b перезаписалось: {dict1}")

b перезаписалось: {'a': 10, 'b': 30, 'c': 30, 'd': 30, 'e': 40}

Разархивировать словарь можно с помощью **

In [ ]:
dict3 = {'e':20, 'f':50, 'g':60}
merged_dict = {**dict1, **dict3}
merged_dict

{'a': 10, 'b': 30, 'c': 30, 'd': 30, 'e': 20, 'f': 50, 'g': 60}

### Задания：

Задание 1:
1. Создать словарь со значениями "имя", "возраст", "пол".
2. Добавить туда "курс"
3. Вывести каждое значение о отдельности с помощью print

Задание 2:

1. К предыущему словарю добавить ключ "средний бал" где значения равно 99.99
2. Обновить средний бал, сделав его 105 типом данных int
3. Проверить на вхождение ключ "книги", если его нет, добавить со значением ["Наука о данных с нуля", "Грокаем алгоритмы"]
4. Достать слово "Грокаем" из этого словаря и поместить в переменную

## Тернарный оператор if

Проверяет верно ли условие и если да, выполняет блок кода. (по сути булевые переменные True\False)

In [ ]:
age = 18

if age >= 18:
  print("Можно!")

У него есть второе условие "если" - **else**

Если if не True то выполняется else

In [ ]:
leo = ['dicaprio', 'дикаприо']
surname = 'Di_Caprio'

if surname.replace('_', '').lower() not in leo:
  print('Ты не Лео')
else:
  print('Ты Лео')

Ты Лео

**elif** - иногда нам хочется еще одно дополнительное условие

In [ ]:
dual_langs = ['Canada', 'SAR']

axeman = {'nationality':'Canada', 'bilingual': True, 'languages': ['English', 'French']}
la_baguette = {'nationality':'France', 'bilingual': False, 'languages': ['French']}
la_guillotene = {'nationality':'France', 'bilingual':True, 'languages':['French', 'German', 'English']}

if axeman['nationality'] in dual_langs:
  print('Woodchoppa speaks:', *axeman['languages'])
elif axeman['bilingual']:
  print('Woodchoppa is bilingual')
else:
  print('Woodchoppa is sad')


if la_baguette['nationality'] in dual_langs:
  print('Frenchie speaks:', *la_baguette['languages'])
elif la_baguette['bilingual']:
  print('Frenchie is bilingual')
else:
  print('Frenchie is sad')


if la_guillotene['nationality'] in dual_langs:
  print('Headchoppa speaks:', la_guillotene['languages'])
elif la_guillotene['bilingual']:
  print('Headchoppa is bilingual')
else:
  print('Headchoppa is sad')

Woodchoppa speaks: English French
Frenchie is sad
Headchoppa is bilingual

##Задания:

Задание 1:
Написать тернарный оператор проверяющий переменную age и выводящий "Может голосовать" если переменная больше или равно 18 и "Не может головать" в другом случае.

Задание 2: Написать код, проверяющие переменную и выводящий "Число меньше чем ноль" если число меньше нуля, "число больше чем ноль" если число больше ноля и "число равно нулю" если оно равно нулю

Задание 3*: Написать код проверяющий является год в переменной вискосным. Высокосный год - это год ,который делится на 400 или год который делится на 4 но не делится на 100. Если год високосный вывести год и "високосный год", иначе - вывести год и "не високосный"

## Циклы

Очень важная тема, позволяющая не повторять одни и те же действия из раза в раз.
Можно заметить по упражнению сверху как неэффективно повторять один и тот же код.

используем for (while оставим на потом)

похоже на псевдокод: для каждого элемента в списка пока не законился сделать то-то

In [ ]:
mylist = [10, 20, 30, 40]
for digit in mylist:
  print(f'мне {digit} лет')

мне 10 лет
мне 20 лет
мне 30 лет
мне 40 лет

In [ ]:
for key in bag.keys():
  print(key, bag[key])

pencils 3
markers не рисую
machine_gun None
pink pony 13
pink poopoo 1300.0

но можно интерировать не только через сами элементы но и через индексы, для этого пригодится range

In [ ]:
new_list = [1, 2, 3, 4, 5, 6, 7]
length = len(new_list)
for num in range(length):
  print(f'index {num}: {new_list[num]}')

index 0: 1
index 1: 2
index 2: 3
index 3: 4
index 4: 5
index 5: 6
index 6: 7

range начинается с 0 и не включает в себя последнее число, чтоб начать с любого числа start и закончить числом end надо писать range(start, end+1)

In [ ]:
for n in range(3, length+1):
  print("число", n)

число 3
число 4
число 5
число 6
число 7

Вложенные циклы (циклы в цикле)

In [ ]:
x, y = 3, 3
counter = 0

for i in range(y):
  for j in range(x):
    counter += 1
    print(f'permutation {counter}: {j, i}')

permutation 1: (0, 0)
permutation 2: (1, 0)
permutation 3: (2, 0)
permutation 4: (0, 1)
permutation 5: (1, 1)
permutation 6: (2, 1)
permutation 7: (0, 2)
permutation 8: (1, 2)
permutation 9: (2, 2)

###Задания

Задание 1:
для каждого числа от одного до 5 вывести это число, текст "в квадрате" и квадрат этого числа

Задание 2: использя range для числа в переменной вывести факториал. Например:
$$!2 = 1*2$$ $$!5 = 5 * 4 * 3 * 2 * 1$$

Задание 3: Создать вложенный цикл и с помощью if подсчитать количество гласных (aioue) в тексте, задав параметр counter и увеличивая его каждый раз при совпадении

## Функции

нам часто приходится повторять отдельные куски кода, и для того чтобы избежать повторений существуют функции

они определяются с помощью def имя_функции(аргумент)

Чтоб не писать каждый раз (особенно если я не знаю какой аргумент будет) я вызываю функцию

In [ ]:
def square_me(x):
  return x**2

print(square_me(5))
print(square_me(3))
print(square_me(2))
print(square_me(1))

25
9
4
1

Но подожди.. ты же каждый раз вызываешь принт!

Да, пожалуй стоит переопределить функцию

In [ ]:
def square_me(x):
  result = x**2
  print(result)
  return result

square_me(5)
square_me(3)
square_me(2)
square_me(1)

25
9
4
1

1

Не все функции должны возвращать чтото с return иногда нам просто надо чтото вывести и показать.

Также аргументов может быть много.

In [ ]:
def power(num1, num2):
  print(num1**num2)

power(2,3)
power(3,3)

8
27

Конечно же мы можем вызывать функции из функций.
Также существуют ключевые слова аргументы, которые имеют стандартное значение

In [ ]:
def mega_power(number_1, number_2=3):
  result_1 = square_me(number_1)
  result_2 = number_2 * number_2
  print(result_1 + result_2)

mega_power(4)  #мы не пишем второй аргумент если хотим чтоб он оставался тройкой

16
25

У функций есть область видимости. Переменные созданные в самой функции перестают существовать после того как функция отрабатывает, но сама функция видит переменные созданные вне функций.

In [ ]:
ivar = 'Ivar' #Создано вне функции

def myfunc1():
  billy = 'Billy'
  print(ivar)     #ok
  print(billy)    #ok
  return billy

not_billy = myfunc1()
print(not_billy)
print(billy)    #выдаст ошибку

def myfunc2():
  print(not_billy)        #ok
  print(billy)            #выдаст ошибку
  notnotbilly = myfunc1() #ok но не будет выполненно из-за ошибки в функции и выше функции
  print(notnotbilly)      #ok но не будет выполнено

Задание 1: Написать функцию, в которую подаются два аргумента - начало и конец. Функция **возвращает** список числе от начала и до конца включительно.

Задание 2*: Для результата предыдущей функции подсчитать стандартное отклонение. (необходимо посчитать среднее, найти сумму квадратов разницы каждого элемента со средним, поделить на количество элементов и взять из этого корень). Результат не вернуть, а вывести принтом.

Задание 3*: Подсчитать норму Пробениуса (Евклидова норма) (корень из суммы сумм квадратов элементов в матрице)